header,
.scrollCategories {
    border-bottom: 1px solid rgba(0, 0, 0, 0.254);
}

.journalContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;
}

.svgBurgerMenuJournal {
    display: flex;
    height: 2rem;
    width: 2rem;
    margin-left: -1rem;
}

.headerRight {
    margin-left: auto;
}

.headerRight>a:nth-child(2) {
    background-color: orange;
    border-radius: 0.5rem;
}

.headerRight a {
    margin-left: .6rem;
    align-items: center;
}

.svgConnectionJournal {
    height: 1.4rem;
    width: 1.4rem;
}

.scrollCategories {
    overflow-y: auto;
    overflow-x: none;
}

.scrollCategories ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    font-size: .8rem;
    white-space: nowrap;
}