/* Header */
header,
.scrollCategories {
    border-bottom: 1px solid rgba(0, 0, 0, 0.254);
}

.connectionButton {
    display: none;
}

.journalContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;
}

.svgBurgerMenuJournal {
    display: flex;
    height: 2rem;
    width: 2rem;
    margin-left: -1rem;
}

.headerRight {
    margin-left: auto;
}

.subscribeButton {
    background-color: orange;
    border-radius: 0.5rem;
    padding: .2rem .4rem;
    font-size: .8rem;
}

.headerRight a {
    margin-left: .6rem;
    align-items: center;
}

.svgConnectionJournal {
    height: 1.4rem;
    width: 1.4rem;
}

/* NavBar - scroll horizontally */
.scrollCategories {
    overflow-y: auto;
    overflow-x: none;
}

.scrollCategories ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    font-size: .8rem;
    white-space: nowrap;
}

.scrollCategories ul li {
    padding: 1rem;
}

/* Responsive */
@media screen and (min-width:768px) {
    .scrollCategories ul {
        justify-content: center;
        text-align: center;
    }

    .scrollCategories ul li:nth-last-child(1) {
        padding-right: 2rem;
    }

    .connectionButton {
        padding: .2rem .4rem;
        display: inline-block;
        border: 1px solid black;
        border-radius: 0.5rem;
        color: black;

    }

    .subscribeButton {
        padding: .2rem .4rem;
        font-size: 1.1rem;
    }


    .svgConnectionJournal {
        display: none;
    }
}